*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
}
.tabs-content{
  margin-top: 20px;
  padding: 0 50px;
}

.tabs-title.active {
  background-color:#937341 ;
  color: #23201D;
}