*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

.centered-content {
  height: 50vh; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabs {
  display: flex;
}

.tabs-title {
  padding: 20px;
  background-color: #23201D;
  color: #937341;
  cursor: pointer;
}
.tabs-content{
  margin-top: 20px;
  padding: 0 50px;
}

.tabs-title.active {
  background-color:#937341 ;
  color: #23201D;
}

.tabs-content{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  gap: 50px;
}
.tabs-content-info{
  width: 600px;
  height: 400px;
  border: 1px solid;
  border-radius: 10px;
  text-align: center;
  padding: 55px 30px;
  display: none;
}
 
.tabs-content-info.active{
  display: flex;
}
